.serviceItem{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin: "10px 35px";
    gap: "20px";
    text-align: center;
    /* display:'flex';
    flex-direction: 'row';
    flex-wrap:'wrap';
    justify-content:'space-between';
    align-Content:'space-between';
    margin:'20px';
    gap:'30px' */
}

@media only screen and (max-width: 735px) {
    .banner {
      background-color: black;
      display: none;
    }
 
  }

  


